:root {
  --primary: #00eaff;
  --primary-text: #ffffff;
  --secondary-text: #00e5ff;
  --accent: #001aff;
  --accent-text: #ffffff;
  --accent-center:#10100f;
  --counter-text:#20c4ed;
  --connect-text:#ff3b21;
}
